$red: #ff2400;
$green: #32CD32;
$blue: #0000CD;
$lightblue: #00BFFF;
$black: #000;

$base-grey: #000;
$grey-0: lighten($base-grey, 10%);
$grey-1: lighten($base-grey, 20%);
$grey-2: lighten($base-grey, 30%);
$grey-3: lighten($base-grey, 40%);
$grey-4: lighten($base-grey, 50%);
$grey-5: lighten($base-grey, 60%);
$grey-6: lighten($base-grey, 70%);
$grey-7: lighten($base-grey, 80%);
$grey-8: lighten($base-grey, 90%);
$grey-9: lighten($base-grey, 95%);
