html(lang="en")
	head
		meta(charset="utf-8")
		title My Website
		
		link(rel="stylesheet" href="../style/css/main.css")
		link(rel="stylesheet" href="css/global.css")
	body
		nav.navbar
			img(src="image/image1jpg.jpg").item.img
			div.item Item
			div.item Item
		div.area.fluid
			button This is a button
			button.red This is a red button
			button.green This is a green button
			button.blue This is a blue button
			button.lightblue This is a lightblue button
			button.black This is a black button
			
			button.red.invert This is a red button
			button.green.invert This is a green button
			button.blue.invert This is a blue button
			button.lightblue.invert This is a lightblue button
			button.black.invert This is a black button
			
			div.alert This is an alert
			div.alert.red This is an alert
			div.alert.green This is an alert
			div.alert.blue This is an alert
			div.alert.lightblue This is an alert
			div.alert.black This is an alert
			
			div.alert.red.invert This is an alert
			div.alert.green.invert This is an alert
			div.alert.blue.invert This is an alert
			div.alert.lightblue.invert This is an alert
			div.alert.black.invert This is an alert
		script(src="../script/vendor/jQuery.js")
		script(src="../script/main.js")
		script(src="../script/nav_manager.js")
		script(src="../script/index/script.js")
